:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #71b6d1;
  --border-color: #dbdbdb;
  --star-gold-color: #ffce3e;
  
  --navbar-height: 34px;
  --header-height: 120px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navbar-height)
    
  );
}

* {
  box-sizing: inherit;
  /* kế thừa từ thẻ chứa nó */
}

html {
  /*  */
  font-size: 62.5%;
  line-height: 1.6rem;
  /* chiều cao của chữ */
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Responsive */



.grid__row {
  display: flex;
  flex-wrap: wrap;
  /* xuống hàng khi cần */
  margin-left: -5px;
  margin-right: -5px;
}

/* TEST */

.grid__columns-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}
.grid__columns-2-4{
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.grid__columns-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}

/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale var(--growth-from);
    /* tạo hiệu ứng */
  }
  to {
    transform: scale var(--growth-to);
  }
}

/* Modal  css*/

.modal {
  display: flex;
  position: fixed;
  /* để nó chiems hết màn hình */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadeIn linear 0.1s;
}

.modal__overlay {
  /* lớp phủ màu đen */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  /* ai có z index cao hơn sẽ nổi lên */
  border-radius: 5px;
  /* làm bo góc */
  animation: growth linear 0.1s;
}

/* BUTTON STYLE */

.btn {
  min-width: 100px;
  height: 25px;
  border: none;
  text-decoration: none;
  border-radius: 2px;
  padding: 0 12px;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  /* nằm ngang lên */
  line-height: 1.6rem;
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
}

.btn.btn--primary {
  color: var(--text-color);
  background-color: var(--primary-color);
}

.btn.btn--disabled {
  /* khi nào muốn vô hiệu hóa thì thêm class này vào */
  cursor: default;
  color: #949494;
  background-color: #c3c3c3;
}

/* SELECTION*/

.select-input {
  position: relative;
  height: 25px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  min-width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-input__label {
  font-size: 1.4rem;
}

.select-input__icon {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 1px;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 17px;
  border-radius: 2px;
  background-color: var(--white-color);
    padding: 8px 16px ;
    list-style: none;
    display: none;
    z-index:1 ;

}
.select-input__link{
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}
.select-input__link:hover{
    color: var(--primary-color);

}

/* Phan Trang */
.phantrang{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
  }
  .phantrang-item-active .phantrang-item__link{
    color: #000;
    background-color: var(--primary-color);
  }
  .phantrang-item-active .phantrang-item__link:hover{
    background-color: #11aeec;

  }
  .phantrang-item{
   margin: 0 10px;
  }
  .phantrang-item__link{
    font-weight: 300;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: #888;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
  }
  .phantrang-item__icon{
    
  }